OPENAI_API_KEY= # needed for ai endpoint

# will be auto generated when running `npx agentview dev` for the first  time
AGENTVIEW_API_KEY=
NEXT_PUBLIC_AGENTVIEW_PUBLIC_API_KEY=
NEXT_PUBLIC_AGENTVIEW_ENV=
