# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Logs
*.log

# IDEs and editors
.vscode/
.idea/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json

# fastapi/uvicorn specific
*.db

# envs
.env